.reader-feed-header {
	border-bottom: 1px solid lighten( $gray, 30% );
	margin: 0 auto;
	margin-bottom: 0;
	padding-bottom: 60px;
	width: 100%;

	@include breakpoint( ">960px" ) {
		margin-top: -18px;
	}

	@include breakpoint( "<660px" ) {
		margin-top: 15px;
	}

	.site__content {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.site .site-icon {
		height: 80px !important;
		margin-right: 0;
		width: 80px !important;
	}

	.site__info {
		margin-top: 17px;
		width: 100%;
	}

	.site__title {
		font-family: $serif;
		font-size: 25px;
		font-weight: 700;
		overflow: inherit;
		text-align: center;
		white-space: normal;

		&::after {
			background: none;
			content:'';
		}
	}

	.site__domain {
		display: none;
	}

	.reader-feed-header__details {
		font-size: 14px;
		text-align: center;
	}

	.reader-feed-header__follow {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 14px;

		@include breakpoint( ">960px" ) {
			margin-bottom: 0;
			position: relative;
				top: 17px;
		}
	}

	.reader-feed-header__follow-count {
		color: lighten( $gray, 10% );
		font-size: 14px;

		@include breakpoint( ">960px") {
			margin-left: auto;
		}
	}

	.reader-feed-header__follow-button .follow-button {
		margin-left: 20px;
		padding: 0;

		.gridicon {
			fill: $blue-medium;
		}

		.follow-button__label {
			color: $blue-medium;

			@include breakpoint( "<660px" ) {
				display: inline;
			}
		}

		&.is-following {

			.gridicon {
				fill: $alert-green;
			}

			.follow-button__label {
				color: $alert-green;
			}
		}
	}
}

.reader-feed-header .card {
	background: none;
	box-shadow: none;
	padding: 0;

	&.reader-feed-header__site {
		margin: 0 auto;
		width: 80%;

		@include breakpoint( ">960px" ) {
			width: 50%;
		}
	}
}

// Loading placeholder
.reader-feed-header.is-placeholder {
	pointer-events: none;
	user-select: none;

	.site__title,
	.site__domain,
	.feed-header__description,
	.feed-header__follow-count {
		color: transparent;
		background-color: lighten( $gray, 30% );
		animation: loading-fade 1.6s ease-in-out infinite;
	}
}
