.docs-selectors__results {
	list-style-type: none;
	margin: 0;
}

.docs-selectors__result {
	color: darken( $gray, 10% );
}

.docs-selectors__result-name {
	@extend %content-font;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.8;

	&,
	& a {
		color: $gray-dark;
	}
}

.docs-selectors__result p {
	font-size: 13px;
	line-height: 1.4;
	margin: 0 0 2px;
}

.docs-selectors__result-label {
	text-transform: uppercase;
	text-align: left;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.8;
	color: $gray-dark;
}

.docs-selectors__result-arguments {
	margin: 16px 0;
	font-size: 14px;
	color: darken( $gray, 30% );
	display: none;

	tbody tr:first-child {
		td, th {
			padding-top: 8px;
			border-top: 1px solid lighten( $gray, 20% );
		}
	}

	tbody tr:last-child {
		td, th {
			padding-bottom: 8px;
			border-bottom: 1px solid lighten( $gray, 20% );
		}
	}

	tbody th {
		width: 25%;
		text-align: right;
		font-weight: 400;
	}

	tbody th strong {
		font-weight: 600;
	}

	tbody {
		th,
		td {
			padding: 4px 8px;
			line-height: 1.4;
		}
	}

	td {
		width: 75%;
	}

	.docs-selectors__result.is-expanded & {
		display: table;
	}
}

.docs-selectors__param-type {
	color: $gray;

	&,
	& code {
		font-size: 12px;
	}

	span {
		padding-left: 4px;
	}
}

.docs-selectors__result-return {
	display: none;

	.docs-selectors__result.is-expanded & {
		display: block;
	}
}
