.search-stream__intro {
	@include breakpoint( "<660px" ) {
		margin-left: 16px;
	}
}

.search-stream .search {
	margin: 0;
}

.is-reader-page .search-stream__input-card.card {
	box-shadow: 0 0 0 2px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
 }

.search-stream__input-card.card {
	margin-bottom: 16px;
	padding: 0;
	z-index: z-index( 'root', '.search-stream__input-card' );
}

.search-stream__blank {
	margin-top: 0;
	text-align:center;
}

.search-stream__blank-suggestions {
	font-size: 13px;
	color: $gray;
	margin-top: 0;
	text-align:left;

	@include breakpoint( "<660px" ) {
		padding-left: 16px;
	}
}

.card.reader-search-card {

	&.is-photo {

		@include breakpoint( "<660px" ) {
			z-index: z-index( 'root', '.reader-search-card' );
		}
	}
}
